<%- partial('../sidebar') %>

<script type="text/javascript">
</script>

<div id="content">
    <div class='panel'>
        <div class='header'>
            <ul class='breadcrumb'>
                <li><a href='/'>主页</a><span class='divider'>/</span></li>
                <li class='active'>实验室成员</li>
            </ul>
        </div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" id="gradeTab" >
            <li class="active"><a href="#teacher" role="tab" data-toggle="tab">教师</a></li>
            <li><a href="#2008" role="tab" data-toggle="tab">2008级</a></li>
            <li><a href="#2009" role="tab" data-toggle="tab">2009级</a></li>
            <li><a href="#2010" role="tab" data-toggle="tab">2010级</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane fade in active" id="teacher">
            </div>
            <div class="tab-pane fade"  id="2008">
                <ul class="nav nav-pills">
                    <li >
                        <a data-toggle="modal" data-target="#xu" href="xu.html">
                        <img src="/public/images/0.jpg">
                        <div class="name">许会元</div>
                        </a>
                    </li>
                    <li ><a href="javascript:void(0)"><img src="/public/images/1.jpg"></a></li>
                    <li ><a href="javascript:void(0)"><img src="/public/images/2.jpg"></a></li>
                    <li ><a href="javascript:void(0)"><img src="/public/images/3.jpg"></a></li>
                    <li ><a href="javascript:void(0)"><img src="/public/images/4.jpg"></a></li>
                </ul>
            </div>
            <div class="tab-pane fade"  id="2009">

            </div>
            <div class="tab-pane fade"  id="2010">

            </div>
        </div>

    </div>
    <div class="modal fade" id="xu" data-modal=" ">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">许会元信息</h4>
                </div>
                <div class="modal-body">
                    <div class="row" style="text-align: center;">
                        <img src="/public/images/4.jpg">
                    </div>
                    <div class="row">
                        <div class="col-sm-3" style="text-align: right;">姓名：</div>
                        <div class="col-sm-9">许会元</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3" style="text-align: right;">性别：</div>
                        <div class="col-sm-9">男</div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3" style="text-align: right;">工作：</div>
                        <div class="col-sm-9"></div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3" style="text-align: right;">联系电话：</div>
                        <div class="col-sm-9">15958198067</div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
</div>
