<%- partial('../sidebar') %>
<link href="/public/stylesheets/bootstrap-lightbox.css" rel="stylesheet"/>
<script type="text/javascript" src="/public/libs/bootstrap-lightbox.js"></script>
<script type="text/javascript">
    $(function(){
        $('#demoLightbox').lightbox();
    });
</script>

<div id="content">
    <div class='panel'>
        <div class='header'>
            <ul class='breadcrumb'>
                <li><a href='/'>主页</a><span class='divider'>/</span></li>
                <li class='active'>实验室成员</li>
            </ul>
        </div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" id="gradeTab" >
            <li class="active"><a href="#teacher" role="tab" data-toggle="tab">教师</a></li>
            <li><a href="#2008" role="tab" data-toggle="tab">2008级</a></li>
            <li><a href="#2009" role="tab" data-toggle="tab">2009级</a></li>
            <li><a href="#2010" role="tab" data-toggle="tab">2010级</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane fade in active" id="teacher">
            </div>
            <div class="tab-pane fade"  id="2008">

            </div>
            <div class="tab-pane fade"  id="2009">

            </div>
            <div class="tab-pane fade"  id="2010">

            </div>
        </div>

    </div>

</div>
