<%- partial('../sidebar') %>

<script type="text/javascript">
    $(function(){
        $("#g2012 a").click();
    })

</script>

<div id="content">
    <div class='panel'>
        <div class='header'>
            <ul class='breadcrumb'>
                <li><a href='/'>主页</a></li>
                <li class='active'>实验室成员</li>
            </ul>
        </div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" id="gradeTab" >
            <li><a href="#teacher" role="tab" data-toggle="tab">教师风采</a></li>
            <li><a href="#2008" role="tab" data-toggle="tab">2008级</a></li>
            <li><a href="#2009" role="tab" data-toggle="tab">2009级</a></li>
            <li><a href="#2010" role="tab" data-toggle="tab">2010级</a></li>
            <li><a href="#2011" role="tab" data-toggle="tab">2011级</a></li>
            <li id="g2012"><a href="#2012" role="tab" data-toggle="tab">2012级</a></li>
            <li><a href="#2013" role="tab" data-toggle="tab">2013级</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane fade in active" id="teacher">
            </div>
            <div class="tab-pane fade"  id="2008">

            </div>
            <div class="tab-pane fade"  id="2009">

            </div>
            <div class="tab-pane fade"  id="2010">

            </div>
            <div class="tab-pane fade"  id="2011">

            </div>
            <div class="tab-pane fade"  id="2012">
                <ul class="nav nav-pills">
                    <li >
                        <a data-toggle="modal" data-target="#xu" >
                            <img src="/public/images/xu.png">
                            <div class="name">许会元</div>
                        </a>
                    </li>
                    <li >
                        <a data-toggle="modal" data-target="#meng">
                            <img src="/public/images/meng.png">
                            <div class="name">刘淳猛</div>
                        </a>
                    </li>
                    <li >
                        <a data-toggle="modal" data-target="#sheng" href="xu.html">
                            <img src="/public/images/sheng.png">
                            <div class="name">刘胜</div>
                        </a>
                    </li>
                    <li >
                        <a data-toggle="modal" data-target="#fei" href="xu.html">
                            <img src="/public/images/fei.png">
                            <div class="name">王晓菲</div>
                        </a>
                    </li>
                    <li >
                        <a data-toggle="modal" data-target="#yan" href="xu.html">
                            <img src="/public/images/yan.png">
                            <div class="name">周庆艳</div>
                        </a>
                    </li>
                    <li >
                        <a data-toggle="modal" data-target="#xu" href="xu.html">
                            <img src="/public/images/xu.png">
                            <div class="name">许会元</div>
                        </a>
                    </li>
                    <li >
                        <a data-toggle="modal" data-target="#xu" href="xu.html">
                            <img src="/public/images/xu.png">
                            <div class="name">许会元</div>
                        </a>
                    </li>
                    <li >
                        <a data-toggle="modal" data-target="#xu" href="xu.html">
                            <img src="/public/images/xu.png">
                            <div class="name">许会元</div>
                        </a>
                    </li>
                    <li >
                        <a data-toggle="modal" data-target="#xu" href="xu.html">
                            <img src="/public/images/xu.png" />
                            <div class="name">许会元</div>
                        </a>
                    </li>
                    <li >
                        <a data-toggle="modal" data-target="#xu" href="xu.html">
                            <img src="/public/images/xu.png">
                            <div class="name">许会元</div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="tab-pane fade"  id="2013">

            </div>

        </div>

    </div>
    <div class="modal fade" id="xu" data-modal=" ">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">许会元信息</h4>
                </div>
                <div class="modal-body">
                    <div class="row" style="text-align: center;">
                        <img src="/public/images/xu1.jpg">
                    </div>
                    <div class="row">
                        <div class="col-sm-3" style="text-align: right;">姓名：</div>
                        <div class="col-sm-9">许会元</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3" style="text-align: right;">性别：</div>
                        <div class="col-sm-9">男</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3" style="text-align: right;">联系电话：</div>
                        <div class="col-sm-9">15958198067</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3" style="text-align: right;">目前工作：</div>
                        <div class="col-sm-9">在读</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3" style="text-align: right;">个人主页：</div>
                        <div class="col-sm-9">…………</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3" style="text-align: right;">兴趣爱好：</div>
                        <div class="col-sm-9">篮球，乒乓球，小说，动漫，游戏</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3" style="text-align: right;">座右铭：</div>
                        <div class="col-sm-9">苟有恒，何必三更眠五更起</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="text-align: center;"><a href="/user/xuhuiyuan">跳转到他在本系统中的主页</a></div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="meng" data-modal=" ">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">刘淳猛信息</h4>
                </div>
                <div class="modal-body">
                    <div class="row" style="text-align: center;">
                        <img src="/public/images/meng.png">
                    </div>
                    <div class="row">
                        <div class="col-sm-3" style="text-align: right;">姓名：</div>
                        <div class="col-sm-9">刘淳猛</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3" style="text-align: right;">性别：</div>
                        <div class="col-sm-9">男</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3" style="text-align: right;">联系电话：</div>
                        <div class="col-sm-9"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3" style="text-align: right;">目前工作：</div>
                        <div class="col-sm-9">在读</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3" style="text-align: right;">个人主页：</div>
                        <div class="col-sm-9">…………</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3" style="text-align: right;">兴趣爱好：</div>
                        <div class="col-sm-9">…………</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3" style="text-align: right;">座右铭：</div>
                        <div class="col-sm-9">…………</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="text-align: center;"><a href="javascript:void(0)">跳转到他在本系统中的主页</a></div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="sheng" data-modal=" ">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">刘胜信息</h4>
                </div>
                <div class="modal-body">
                    <div class="row" style="text-align: center;">
                        <img src="/public/images/sheng.png">
                    </div>
                    <div class="row">
                        <div class="col-sm-3" style="text-align: right;">姓名：</div>
                        <div class="col-sm-9">刘胜</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3" style="text-align: right;">性别：</div>
                        <div class="col-sm-9">男</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3" style="text-align: right;">联系电话：</div>
                        <div class="col-sm-9"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3" style="text-align: right;">目前工作：</div>
                        <div class="col-sm-9">在读</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3" style="text-align: right;">个人主页：</div>
                        <div class="col-sm-9">…………</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3" style="text-align: right;">兴趣爱好：</div>
                        <div class="col-sm-9">…………</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3" style="text-align: right;">座右铭：</div>
                        <div class="col-sm-9">…………</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="text-align: center;"><a href="javascript:void(0)">跳转到他在本系统中的主页</a></div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="fei" data-modal=" ">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">王小菲信息</h4>
                </div>
                <div class="modal-body">
                    <div class="row" style="text-align: center;">
                        <img src="/public/images/fei.png">
                    </div>
                    <div class="row">
                        <div class="col-sm-3" style="text-align: right;">姓名：</div>
                        <div class="col-sm-9">王小菲</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3" style="text-align: right;">性别：</div>
                        <div class="col-sm-9">女</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3" style="text-align: right;">联系电话：</div>
                        <div class="col-sm-9"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3" style="text-align: right;">目前工作：</div>
                        <div class="col-sm-9">在读</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3" style="text-align: right;">个人主页：</div>
                        <div class="col-sm-9">…………</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3" style="text-align: right;">兴趣爱好：</div>
                        <div class="col-sm-9">…………</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3" style="text-align: right;">座右铭：</div>
                        <div class="col-sm-9">…………</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="text-align: center;"><a href="javascript:void(0)">跳转到他在本系统中的主页</a></div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="yan" data-modal=" ">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">周庆艳信息</h4>
                </div>
                <div class="modal-body">
                    <div class="row" style="text-align: center;">
                        <img src="/public/images/yan.png">
                    </div>
                    <div class="row">
                        <div class="col-sm-3" style="text-align: right;">姓名：</div>
                        <div class="col-sm-9">周庆艳</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3" style="text-align: right;">性别：</div>
                        <div class="col-sm-9">女</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3" style="text-align: right;">联系电话：</div>
                        <div class="col-sm-9"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3" style="text-align: right;">目前工作：</div>
                        <div class="col-sm-9">在读</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3" style="text-align: right;">个人主页：</div>
                        <div class="col-sm-9">…………</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3" style="text-align: right;">兴趣爱好：</div>
                        <div class="col-sm-9">…………</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3" style="text-align: right;">座右铭：</div>
                        <div class="col-sm-9">…………</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="text-align: center;"><a href="javascript:void(0)">跳转到他在本系统中的主页</a></div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
</div>
