<%- partial('../sidebar') %>
<style type="text/css">
    img{
        width:100%;
    }
</style>
<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a></li>
        <li class='active'>关于</li>
      </ul>
    </div>
    <div class='inner topic'>
      <h3>关于</h3>
      <hr />
      <div class="topic_content">
          <h4 id="leader">实验室负责人</h4>
          <hr />
          <div >
                <p>何利力教授，博士，博士生导师，浙江省“十二五”新一代电子技术重大科技专项专家组成员。</p>
          </div>
          <h4 id="myLab">实验室介绍</h4>
          <hr />
          <div >
              <p>浙江理工大学企业智能实验室成立于2007年。主要从事企业信息集成平台、商务智能、营销与电子商务平台、
                  物流平台、人机交互等领域的科学研究、工程实践，提供适合企业运营特色的制造业信息化解决方案，辅助
                  企业实现精细化管理，研究成果在烟草、物流等行业得到了肯定。
              </p>
              <p>
                  近年来先后承担了国家863计划课题“面向烟草制造行业的商务智能平台研发”、浙江省重大科技专项“基于B2B
                  商务运行环境的商务智能平台研制”等国家、省部级重点项目以及多项重大横向项目，获得浙江省提升地方高校办学
                  水平专项资金建设项目“计算机科学与技术学科物联网研究基地建设”支持，各类项目经费达1200余万。在国内外重要
                  刊物发表论文共50余篇，其中SCI/EI检索论文23篇。自成立以来，已培养硕士研究生二十余人。
              </p>
          </div>
          <h4 id="equip">公共设施</h4>
          <hr />
              <dl>
                  <dt>硬件设施</dt>
                        <img src="/public/images/myLab/hard.jpg"/>
              </dl>
              <dl>
                  <dt>软件设施</dt>
                        <img src="/public/images/myLab/soft.jpg"/>
              </dl>
          <h4 id="mySys">本系统介绍</h4>
          <hr />
                <p>
                    本系统是基于nodeclub源码快速搭建的。后台核心技术是基于nodejs，express,mongodb的web平台.

                </p>

      </div>
    </div>
  </div>
</div>
