<%- partial('../sidebar') %>
<link href="/public/stylesheets/lightbox.css" rel="stylesheet"/>
<style type="text/css">
    .container-fluid {
        padding: 20px;
    }
    .box {
        margin: 0 20px 20px 20px;
        float: left;
        width:230px;
    }
    .box img {
        max-width: 100%
    }
    .box:hover{
        border:2px solid #2BD53F;
    }

</style>
<script type="text/javascript" src="/public/libs/lightbox.js"></script>
<script type="text/javascript">
$(function(){
         var $container = $('#masonry');
         $container.imagesLoaded( function(){
             $container.masonry({
             itemSelector : '.box',
             gutterWidth : 20,
             isAnimated: true
         });
     });
});


</script>
<div id='content'>
    <div class='panel'>
        <div class='header'>
            <ul class='breadcrumb'>
                <li><a href='/'>主页</a><span class='divider'>/</span></li>
                <li class='active'>实验室照片</li>
            </ul>
        </div>
        <div class="inner">
            <div id="masonry" class="container-fluid">
                <div class="box">
                    <a href="public/images/myLab/desc.jpg" data-lightbox="group1" data-title="实验室介绍展示牌">
                        <img src="public/images/myLab/desc.jpg">
                    </a>
                </div>
                <div class="box"><a href="public/images/myLab/lab1.jpg" data-lightbox="group1" data-title="实验室内部"><img src="public/images/myLab/lab1.jpg"></a></div>
                <div class="box"><a href="public/images/myLab/lab2.jpg" data-lightbox="group1" data-title="实验室内部"><img src="public/images/myLab/lab2.jpg"></a></div>
                <div class="box"><a href="public/images/myLab/door.jpg" data-lightbox="group1" data-title="密码门"><img src="public/images/myLab/door.jpg"></a></div>
                <div class="box"><a href="public/images/myLab/out1.jpg" data-lightbox="group1" data-title="门口展台，电视"><img src="public/images/myLab/out1.jpg"></a></div>
             </div>
        </div>
    </div>
</div>
