<%- partial('../sidebar') %>
<style type="text/css">
    .container-fluid {
        padding: 20px;
    }
    .box {
        margin-bottom: 20px;
        float: left;
        width: 220px;
    }
    .box img {
        max-width: 100%
    }

</style>
        <script type="text/javascript">
            /*$(function(){
                var $container = $('#masonry');
                $container.imagesLoaded( function(){
                    $container.masonry({
                                itemSelector : '.box',
                    gutterWidth : 20,
                    isAnimated: true
                });
              });
            });
            */

        </script>
<div id='content'>
    <div class='panel'>
        <div class='header'>
            <ul class='breadcrumb'>
                <li><a href='/'>主页</a><span class='divider'>/</span></li>
                <li class='active'>公告</li>
            </ul>
        </div>
    </div>
    <div id="masonry" class="container-fluid">
        <div class="box"><img src="public/images/1.jpg"></div>
        <div class="box"><img src="public/images/2.jpg"></div>
        <div class="box"><img src="public/images/3.jpg"></div>
        <div class="box"><img src="public/images/4.jpg"></div>
        <div class="box"><img src="public/images/5.jpg"></div>

    </div>

</div>